.button {
  display: inline-block
  padding: 0.2em 0.5em
  border: 1px solid black
  background: $default-btn-color
  &.white {
    background: #ffffff
    color: #333333
    border-color: #333333
  }
  &.blue {
    background: #0033ff
    color: #ffffff
    border-color: #0033ff
  }
  &.red {
    background: #ff3300
    color: #ffffff
    border-color: #ff3300
  }
}